@import '../z-index';

@mixin sliderArrows {
  @include z-index(slider-arrows);

  background-color: transparent;
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include p-media-query('xxs', 's') {
    display: none;
  }

  &--left {
    left: $p-spacing-8;
  }

  &--right {
    right: $p-spacing-8;
  }
}

@mixin sliderDot {
  background-color: $p-color-theme-dark-neutral-contrast-medium;
  opacity: 1;
}

@mixin sliderDotActive {
  background-color: $p-color-theme-light-state-active;
}
