@import '/@/styles/shared/margins';

.embedded-video {
  &__wrapper {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $p-color-theme-dark-background-default;
  }
}
