@import '/@/styles/shared/margins';

.text-element {
  font-size: $p-font-size-small;
  line-height: 1.5;
  font-family: $p-font-family;
  font-weight: 400;

  &__headline {
    @include default-headline-margin-bottom;
  }

  p {
    margin-top: $p-spacing-24;
  }

  ol {
    counter-reset: section;
    display: block;
    padding: 0;
    margin: 0;

    li {
      display: block;
      font-size: $p-font-size-small;
      padding-left: p-px-to-rem(40px);
      margin: 0;
      list-style: none;

      &::before {
        position: absolute;
        transform: translateX(p-px-to-rem(-24px));
        counter-increment: section 1;
        content: counters(section, '.') '.';
      }

      ol li::before {
        transform: translateX(p-px-to-rem(-40px));
        content: counters(section, '.');
      }
    }
  }

  ul {
    display: block;
    padding: 0;
    margin: 0;

    li {
      position: relative;
      font-size: $p-font-size-small;
      padding-left: p-px-to-rem(24px);
      margin: 0;
      list-style: none;

      &::before {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        top: calc(0.625em);
        width: p-px-to-rem(4px);
        height: p-px-to-rem(4px);
        background-color: currentcolor;
      }

      ul li::before {
        height: p-px-to-rem(1px);
        width: p-px-to-rem(8px);
        top: calc(0.75em);
      }
    }
  }

  a {
    outline: none transparent;
    color: inherit;
    text-decoration: underline;
    -webkit-transition: outline-color 0.24s ease, color 0.24s ease;
    transition: outline-color 0.24s ease, color 0.24s ease;

    &:hover {
      color: $p-color-brand;
    }

    &:focus {
      outline: $p-color-state-focus solid p-px-to-rem(2px);
      outline-offset: p-px-to-rem(1px);
    }
  }
}
