.value {
  padding: 20px 20px 20px 20px;

  .value__info {
    p {
      font-size: 1.2rem;
      line-height: 2rem;
    }
  }

  .value__svg {
    padding: 20px 0px 20px 0px;
    margin: auto;
    display: flex;
    justify-content: center;

    img {
      height: 150px;
    }
  }

  .value__buttons {
    width: 100%;
    display: flex;

    .button {
      margin-right: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .value {
    .value__buttons {
      flex-direction: column;
      .button {
        margin-right: 0px;
        margin-bottom: 20px;
      }
    }
  }
}
