@import '/@/styles/z-index';

.google-panorama {
  height: 100%;
  width: 100%;
  position: relative;

  &__instance {
    min-height: 64.5vw;

    @include p-media-query('m') {
      min-height: 30vw;
    }
  }

  &__cover {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;

    @include z-index('google-maps-cover');
  }

  .dwaas-privacy-shield {
    @include p-media-query('xs') {
      position: absolute;

      &__content {
        min-height: 64.5vw;
      }
    }

    @include p-media-query('m') {
      align-items: start;

      &__content {
        min-height: 30vw;
      }
    }
  }
}
